<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="TransformApplications.Properties.Settings.CADEMS_Malbec_MP2_BE_CompatibleConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\CADEMS-Malbec-MP2-BE_Compatible.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>